<div class="d-flex flex-column flex-shrink-0 p-3 bg-dark position-fixed h-100" style="width: 280px; z-index: 1030; top: 0; left: 0;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
    <i class="bi bi-bootstrap fs-3 me-2"></i>
    <span class="fs-4"></span>
  </a>
  <hr>

  <ul class="nav nav-pills flex-column mb-auto  d-flex gap-2 fs-3">
    <li>
      <a href="#seccion1" class="nav-link" style="margin-top: 110px;">
        <i class="bi bi-house-door me-2"></i> INICIO
      </a>
    </li>
    <li>
      <a href="#seccion2" class="nav-link">
        <i class="bi bi-speedometer2 me-2"></i> DESCUBRIR
      </a>
    </li>
    <li>
      <a href="#seccion3" class="nav-link">
        <i class="bi bi-table me-2"></i> PROPÓSITO
      </a>
    </li>
    <li>
      <a href="#seccion4" class="nav-link">
        <i class="bi bi-grid me-2"></i> PARTICIPA
      </a>
    </li>
    <li>
      <a href="#seccion1" class="nav-link">
        <i class="bi bi-people me-2"></i> EQUIPO
      </a>
    </li>
    <li>
      <a href="#" class="nav-link"></a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>mdo</strong>
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>
