<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ConoceMed</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
  <script type="module" src="https://unpkg.com/@splinetool/viewer@1.10.70/build/spline-viewer.js"></script>
</head>
<body>
  <div id="contenedor-vistas">
    {% include "seccion1.html" %}
    {% include "seccion2.html" %}
    {% include "seccion3.html" %}
    {% include "seccion4.html" %}
    {% include "seccion5.html" %}
    {% include "seccion6.html" %}
  </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.13.0/lottie.min.js"></script>
  <!-- Bootstrap JS bundle (includes Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var dropdownElements = [].slice.call(document.querySelectorAll('.dropdown-toggle'));
      dropdownElements.forEach(function (dropdownToggleEl) {
        new bootstrap.Dropdown(dropdownToggleEl);
      });
    });
  </script>
</body>
</html>
