{% extends "base.html" %}

{% block title %}Panel de Administración{% endblock %}

{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<div class="container">
    <h1>Panel de Administración</h1>
    <div class="list-group">
        <a href="{{ url_for('vistaAdmin.gestionar_lugares_sugeridos') }}" class="list-group-item list-group-item-action">Gestionar Lugares Sugeridos</a>
        <a href="{{ url_for('vistaAdmin.gestionar_sitios_turisticos') }}" class="list-group-item list-group-item-action">Gestionar Sitios Turísticos (Aprobados)</a>
        {% if admin_uploads_token %}
        <a href="{{ url_for('vistaAdmin.listar_uploads') }}?token={{ admin_uploads_token }}" class="list-group-item list-group-item-action">Ver Uploads (QA)</a>
        {% endif %}
    </div>
</div>
{% endblock %}