<section class="vista" id="seccion2">
  <div class="contenido">
    <h1>Categorías de los lugares turísticos</h1>
    <p>Descubre lugares por categoría para que tú elijas qué quieres visitar en esta linda ciudad</p>

    <div class="tarjetas-fila">
      <a href="gastronomia.html" class="tarjeta" style="background-image: url('images/gastronomia.jpg');">
        <div class="texto-tarjeta">
          <h3>Gastronomía</h3>
          <p>Sabores tradicionales</p>
        </div>
      </a>

      <a href="hoteleria.html" class="tarjeta" style="background-image: url('images/hoteleria.jpg');">
        <div class="texto-tarjeta">
          <h3>Hotelería</h3>
          <p>Hospédate con comodidad</p>
        </div>
      </a>

      <a href="patrimonio_arte_cultura.html" class="tarjeta" style="background-image: url('images/patrimonio.jpg');">
        <div class="texto-tarjeta">
          <h3>Patrimonio, Arte y Cultura</h3>
          <p>Raíces e historia</p>
        </div>
      </a>
    </div>
  </div>
</section>
